.demo-card-container {
  display: flex;
  flex-flow: column nowrap;

  .mat-card {
    margin: 0 16px 16px 0;
    width: 350px;
  }

  img {
    background-color: gray;
    
  }
}

.demo-card-blue {
  background-color: #b0becc;

  .mat-card-actions {
    display: flex;
    flex-direction: column;
  }
}
.example-header-image{
  min-height: 200px;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: local;
  background-position: center center; 
}
