<div class="demo-card-container">
 
  <mat-grid-list cols="4" >
      <mat-grid-tile  *ngFor="let data of array"       
          [colspan]=1
          [rowspan]=1
          
          >
        
  <mat-card  >
    <div class="example-header-image" [ngStyle]="{'background-image': 'url(' + data.url + ')'}"></div>
     
      <mat-card-content>
          <p>{{data.content}}</p>
        </mat-card-content>
        <div>
    <mat-card-header>        
      <img mat-card-avatar>
      <mat-card-title>{{data.title}}</mat-card-title>      
    </mat-card-header>
  </div>   
  </mat-card>
</mat-grid-tile>
</mat-grid-list>
<div fxLayout="row" fxFlex="50%" fxFlex.gt-sm="25%" fxHide.md ></div>
  

 
  
    
</div>
